	<form class="button pseudobutton" action="get_stackoverflow_listings" method="GET">
	        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	        <input type="submit"  value="get stackoverflow listings">
	        <input type="text" class='button pseudobutton' name="search_term" placeholder="search term">
	</form>
