	<form class="inline-block" action="get_indeed_listings" method="GET">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="submit" value="get indeed listings">
		<input class='button pseudobutton' type="text" name="search_term" placeholder="search term">
	</form>
