    <% if flash[:search_results] %>
      <div class="col-xs-12">
        <div class="stats">
          <i>search results</i> <br>
          <% flash[:search_results].each do |res| %>
            <a class="large-text button"  href="/?id=<%= res["id"] %>"><%= res["name"] %></a>
          <% end %>
        </div>
      </div>
    <% end %>
