      <form class="button pseudobutton " action="/search" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input class="button pseudobutton large-text" placeholder="name" type="text" name="query">
        <input type="submit" value="search">
      </form>
