/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *f
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap-theme
 *= require_self
 */

body, html {
  width: 100%;
  height: 100%;
  font-family: monospace !important;;
  /*min-width: 700px;*/
}

body {
  background-color: cadetblue !important;
}


@mixin button {
  display: inline-block;
  padding: 5px;
/*   border: 1px solid black; */
  margin: 5px;
  color: black;
  font-weight: bold;
  background-color: lightblue;
  transition: background-color .3s ease-in;
}


.bordered {
  border: 1px dotted lightgrey;
  margin: 8px;
  padding: 4px;
}

.inline-block {
  display: inline-block;
}

pre, pre pre, .pre{
  color: white;
  background-color: black;
  margin: -30px -15px -45px -15px;
  white-space: pre-wrap;
}


.company-attr {
  display: inline-block;
  border: 1px solid orange;
  padding: 7px;
  background-color: darken(orange, 45%);
  font-weight: bold;
  color: lighten(grey, 10%);
  letter-spacing: 1px;
  margin: 5px;
}
.stats {
  @include button;
/*   width: 100%; */
/*   border: 1px solid white;
  background-color: black;
  display: inline-block;
  padding: 5px;
  color: white; */
}

.statistic {
  /*width: 100%;*/
/*   border: 1px solid white; */
  margin: 5px;
  padding: 5px;
  display: inline-block;
}

.button {
  @include button
}

.button:visited {
  color: black;
}

.button:hover {
  color: black;
  background-color: lighten(lightblue, 10%);
}

@mixin pseudobutton {
  transition: none;
  background-color: lighten(lightblue, 15%);
}
.button.pseudobutton {
  @include pseudobutton
}

.pseudobutton {
  @include pseudobutton
}

// .button a {
//   border: 1px solid blue;
//   padding: 5px;
//   background-color: lightblue;
//   transition: background-color .3s ease-in;
// }

// .button a:hover {
//   background-color: lighten(lightblue, 10%);
// }

.large-text {
  display: inline-block;
  margin: 20px;
}

input[type='submit'] {
  @include button;
}

input[type='submit']:hover {
    background-color: lighten(lightblue, 10%);

}

.flash-message {
  border: 1px solid darkred;
}



.inline-forms form {
  display: inline-block;
}

.form-with-box {
/*   border: 1px solid black; */
/*   padding: 5px; */
}

.categories-toggler {
  border: 1px solid black;
  background: grey;
  display: block;
  font-weight: bold;
  color: black;
  a {
    @include button;
  }
  a:hover {
    background-color: lighten(lightblue, 10%);
  }
}

.scraper-buttons a {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  color: black;
}

.marked-container {
  margin: 15px;
}

.navbar {
/*   padding: 5px; */
  display: inline-block;
}

.navbarRow {
  padding-left: 10px;
  padding-right: 10px;
}
.navbarRow:nth-child(1) {
  padding-top: 15px;
}
.navbarRow:nth-child(2) {
  padding-bottom: 15px;
}